<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <section class="main-container">
        <div class="cards-container">

            <div class="product-card">
                <img src="https://images.pexels.com/photos/11124449/pexels-photo-11124449.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$40.00</p>
                        <p>Facial oil</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/11124445/pexels-photo-11124445.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$50.00</p>
                        <p>Wattermelon oil</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/8128069/pexels-photo-8128069.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$25.00</p>
                        <p>Tonic</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/8128063/pexels-photo-8128063.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$60.00</p>
                        <p>Take care bundle</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/11124449/pexels-photo-11124449.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$40.00</p>
                        <p>Facial oil</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/11124445/pexels-photo-11124445.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$50.00</p>
                        <p>Wattermelon oil</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/8128069/pexels-photo-8128069.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$25.00</p>
                        <p>Tonic</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/8128063/pexels-photo-8128063.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$60.00</p>
                        <p>Take care bundle</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/11124449/pexels-photo-11124449.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$40.00</p>
                        <p>Facial oil</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/11124445/pexels-photo-11124445.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$50.00</p>
                        <p>Wattermelon oil</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/8128069/pexels-photo-8128069.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$25.00</p>
                        <p>Tonic</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/8128063/pexels-photo-8128063.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$60.00</p>
                        <p>Take care bundle</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/11124449/pexels-photo-11124449.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$40.00</p>
                        <p>Facial oil</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/11124445/pexels-photo-11124445.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$50.00</p>
                        <p>Wattermelon oil</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/8128069/pexels-photo-8128069.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$25.00</p>
                        <p>Tonic</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/8128063/pexels-photo-8128063.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$60.00</p>
                        <p>Take care bundle</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/11124449/pexels-photo-11124449.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$40.00</p>
                        <p>Facial oil</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/11124445/pexels-photo-11124445.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$50.00</p>
                        <p>Wattermelon oil</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/8128069/pexels-photo-8128069.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$25.00</p>
                        <p>Tonic</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 

            <div class="product-card">
                <img src="https://images.pexels.com/photos/8128063/pexels-photo-8128063.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">

                <div class="product-info">
                    <div>
                        <p>$60.00</p>
                        <p>Take care bundle</p>
                    </div>                    

                    <figure>
                        <img src="/assets/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>                    
                </div>
            </div> 
            
        </div>
    </section>
</body>
</html>