<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <title>Product details</title>
</head>
<body>
    <aside class="product-detail">
        <img src="/assets/img/icons/icon_close.png" alt="close" class="close-button">
        <img src="https://images.pexels.com/photos/11124449/pexels-photo-11124449.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="facial oil" class="product-pic">
        <div class="points">
            <li class="active"></li>
            <li></li>
            <li></li>
        </div>
        <div class="product-info-detail">
            <p>$120</p>
            <p>Facial oil</p>
            <p>It is the perfect way to look young naturally,
             with facial oil you can rejuvenate up to 3 years in time,
             you will not regret it.</p>

             <button class="primary-button add-to-cart-button">
                <img src="/assets/img/icons/bt_add_to_cart.svg" alt="add to cart">
                add to cart
             </button>
        </div>
    </aside>
</body>
</html>